pip
setuptools
pip
pyrogram 
tgcrypto
telegraph
wget
redis
yt-dlp
youtube-search-python
pydub
asyncio
python-string-utils
SpeechRecognition
pytesseract
pillow
gTTS
google-play-scraper
py-tgcalls
pyromod
pytz
bs4
telethon